body {
    direction: rtl;
    background-color: rgb(0, 2, 85);
    background-image: url("../img/reka.1.png");
    width: auto;
    height: 12000px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
 /*{
    repeat local;
    overflow: scroll;
    width: 170px;
    height: 100px;
    line-height: 2em;
    ">
}
*/
main div h2 {
    margin-right: 75px;
}
header {
    display: inline-block;
    width: 100%;
}
ul li a {
    text-decoration: none;
}
nav {
    margin-right: 100px;
}
#logo {
    display: inline-block;
    margin-top: 8px;
    float: right;
    width:110px;
    height:60px;
}

.skip-main {
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}


#wrap {
    font-size: 16px;
    padding: 14px 16px;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
}

    .navbar li {
        height: auto;
        width: 190px;
        float: right;
        text-align: center;
        list-style: none;
        font-family: Segoe UI;
        font-style: normal;
        padding: 5px;
        margin: -15px;
    }




    .navbar a  {
        padding: 18px 0;
        color: white;
        display: block;
    }


        .navbar a:hover {
            padding: 18px 0;
            color: white;
            display: block;
            color: rgb(240, 123, 109);
        }



    .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;

    }

    .navbar li:hover ul { /*גורם לתת תפריט להופיע*/
        display: block;

    } 

.navbar li ul li { 
    color: rgb(240, 123, 109);
}


    .navbar li ul li a:hover {
        color: rgb(240, 123, 109);
    }

main {
    font-size: 24px;
    font-family: Segoe UI;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

    div.transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
    }

#peacock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
#parpor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#wing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#baz {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#yaor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#brvash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#eggs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#fish {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    padding: 50px 0 50px 0;
    text-align: center;
    font-size: 30px;
    font-family: Segoe UI;
}

    footer nav li {
        display: inline-block;
        margin-left: 170px;
    }


    footer nav ul li a:hover {
        color: rgb(240, 123, 109);
    }

    footer nav li a {
        color: white;
        text-decoration: none;
    }

    footer p {
        margin-top: 70px;
        color: white;
        font-size: 14px;
    }

#credit{
    color:grey;
    font-size:30px;

}


nav ol li {
    display: inline-block;
    font-family: Segoe UI;
    font-size: 20px;
}

    nav ol li:after {
        content: ">";
    }

    nav ol li:last-child:after {
        content: "";
    }



#wrap .navbar .notActive1 {
    color: dimgray;
}